.ConfigPanel{
    width:fit-content;
    height:fit-content;
    position: absolute;
    left: 25%;
    top:10%;
    z-index: 10000;
    margin:auto;
    padding: 30px;
    border: solid;
    border-color: black;
    background-color: white;
    float:left;
    overflow-y: scroll;  
    text-align: center;
    display: table;
    z-index: 30000;
    border-width: medium;
    box-shadow: 10px 10px 5px grey;
}
.slider {
    width:50% !important;
}
.aroundDiv {
  vertical-align: middle;  
  width: fit-content;
  margin:5px;
}
.oneVar {
  display: flex;
  margin: auto;
  padding: 0;
  position: relative;
  text-align: left;  
  align-self: center;
  width: 80%;
  width: fit-content;
  border: solid;
  border-color: lightgray;
  background-color: white;
  border-width: thin;
}
.textWeight {
  width: 20px;
  height: auto;
  text-align: right;
  margin: 5px;
  margin-right: 50px;  
}
.dropboxes {
  line-height: 1em;
  margin: 5px;
  margin-left: 10px;
  margin-right: 50px;
}
.runButton {
  text-align: right;
  align-self: right;
}
.Footer{
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
}