.Detail{
    width:auto;
    height: auto;
    position: absolute;
    display: flex;
    left: 10%;
    top: 2%;
    margin: 5px;
    padding: 10px;
    border: solid;
    z-index: 10000;
    background-color: white;
    border-color: black;
    border-width: medium;
    box-shadow: 10px 10px 5px grey;
    text-align: center;
  }

    
.detButton{
  margin: 0 auto;
  padding: 2px;
  width:24px;
  height: 24px;
  vertical-align: center;
}

.detColumn {
  margin: 2px;
  min-width: 100px;
  border: solid;
  border-color: lightgrey;
  border-width: thin;
}