.mapboxgl-map{
    width:90%;
    height:500px;
    border: solid;
    margin: 1px;
    border-color: darkgray;
    border-width: medium;
    float:left;
  }
  .geom-control {
    border: solid;
    border-width: thin;
    background: #FFF;
    padding: 8px;
    border-radius: 4px;
    margin: 8px;
  }