.TempEvo {
    width:500px;
    height: 350px;
    position: relative;
    border: solid;
    border-color: darkgray;
    border-width: medium;
    margin: 1px;
    float:left;
}
.sliderTEv {
    width: 200px !important;
}

.yearsBar{
    place-content: space-between;
    padding:10px;
    margin-bottom: -10px;
    display: flex;
}

