.TempEvo {
    width:50%;
    min-width: 500px;
    height:fit-content;
    position: relative;
    border: solid;
    border-color: darkgray;
    border-width: medium;
    margin: 1px;
    float:left;
}

.tooltip {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: white;
    border: solid;
    border-width: thin;
}
